<div id="<%= dom_id recipe %>", class="d-flex align-items-center justify-content-around border border-dark recipe-item ps-3 pt-3 mb-4">
  <div class="recipe-first">
    <p>
      <%= item.name %>
    </p>

    <p>
      By:<%= User.find_by([:user_id]).name%>
    </p>

  </div>


  <div class="recipe-second">
    <p>
      Total food items:
    </p>

    <p>
      Total price
    </p>
  </div>

</div>