<div id="<%= dom_id recipe %>", class="d-flex align-items-center justify-content-around border border-dark">
  <div class="recipe_first">
    <p>
      
      <%= recipe.name %>
    </p>

    <p>
      <%= button_to "Remove", @recipe, method: :delete %>
    </p>

  </div>


  <p>
    <%= recipe.description %>
  </p>

</div>
